<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escotilha Goblin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/navbar.css') }}">
</head>

<body>
    <nav class="navbar">
        <a href="#menu">Home</a>
        <a href="#meus-personagens">Meus Personagens</a>
    </nav>
    
    {% block body %}
    
    {% endblock %}
    
    
    <footer>
        <p> Desenvolvedor: Bruno Chevitarese </p>
    </footer>

</body>
</html>
