.atributo {
    margin: 10px 0;
    padding: 10px;
    background: #eaeaea;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.atributo h2 {
    margin: 0;
}

.atributo img {
    cursor: pointer;
}